{{render '@skip_to_main_content_link'}}
{{render '@site_header'}}

<main id="main_content">
  <div class="inner">
    {{render '@entry_list'}}
    {{render '@archive_link'}}
    {{render '@columns_showcase'}}
  </div>
</main>

{{render '@site_footer'}}
