<div>
  {{render '@heading_1'}}
  {{render '@heading_2'}}
  {{render '@heading_3'}}
  {{render '@heading_4'}}
  {{render '@heading_5'}}
  {{render '@heading_6'}}
</div>

<div>
  {{render '@paragraph'}}
</div>
