<article class="suggested-entry">
  <a class="wrapper-link" href="">
    <img class="thumbnail" src="{{imageSmall}}" data-src="{{imageLarge}}">
    <h1 class="title">{{title}}</h1>

    {{render '@entry-byline--with-list-without-links'}}

    {{render '@entry-timestamp'}}
  </a>
</article>
