<article class="staff-bio">
  <div class="flexible-image">
    <img src="//placehold.it/1280x800">
  </div>

  <h2>{{name}}</h2>
  <p class="staff-bio--title">{{jobTitle}}</p>

  <address>
    <a href="">Email {{name}}</a>
  </address>

  <p>{{biography}}</p>

  <p><a href="">View all posts by {{name}}</a></p>
</article>
