<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link type='text/css' rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald|Chau+Philomene+One|Open+Sans+Condensed:300'>

    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/elements.css' }}">

    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/content.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/skip-to-main-content-link.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/svg-icon.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/logo.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/wrapper-link.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/atoms/entry-byline.css' }}">

    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/author-bio.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/author-bio-list.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/site-sections.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/meta-links.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/page-links.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/main-menu.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/simple-text-form.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/header-search-form.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/copyright.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/footer-link-list.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/suggested-entry.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/suggested-entries.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/topic-info.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/entry-titles.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/entry-header.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/entry_body.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/entry-comments.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/real_site/molecules/entry-footer.css' }}">

    {{#each _target.context.organismsCss}}
      <link media="{{this.media}}" rel="stylesheet" href="{{path this.src}}">
    {{/each}}

    {{#each _target.context.css}}
      <link media="{{this.media}}" rel="stylesheet" href="{{path this.src}}">
    {{/each}}

    <script src="{{ path '/js/flexible-image.js' }}" defer></script>
    <script src="{{ path '/js/site-header.js' }}" defer></script>

    <title>Preview Layout</title>
  </head>

  <body class="{{_target.context.bodyClass}}">
    {{{ yield }}}

    <noscript id="deferred-styles">
      {{#if _target.context.themeFile}}<link media="all" rel="stylesheet" href="{{ _target.context.themeFile }}">{{/if}}
    </noscript>

    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.style = 'display: none;';
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
  </body>
</html>