<div class="entry-body">
  <img src="https://anigamers.com/uploads/entries/Made-in-Abyss_20180213014937.jpg" alt="">

  {{render '@column-note'}}

  {{render '@intro-blurb'}}

  {{render '@interview-intro-blurb'}}

  <p>The hosts look back on the best anime, manga and video games of last year, including Zelda, NieR, Land of the Lustrous, and In This Corner of the World, with guest Nate Ming from Crunchyroll. Plus listener questions and lots of pontificating on the nature of Best-of lists. Topics include: fancy root beer glasses, nuclear takes, and Shigesato Itoi’s Mother starring Jennifer Lawrence.</p>

  <p>Lorem ipsum dolor sit amet.</p>

  {{render '@podcast-player'}}

  <p>Lorem ipsum dolor sit amet.</p>
  {{render '@sidebar'}}

  <h3>Sub Heading</h3>

  <p>Lorem ipsum dolor sit amet.</p>

  {{render '@podcast-episode-list'}}

  <figure>
    <img src="/images/Yuri-on-Ice.jpg">
    <figcaption>Lorem ipsum dolor sit amet</figcaption>
  </figure>

  {{render '@pull-quote-2017'}}

  {{render '@image-pair'}}

  {{render '@review-rating'}}

  {{render '@horizontal-rule'}}

  {{render '@review-version'}}
</div>
