{{render '@link'}}
{{render '@subject_label--link'}}
{{render '@archive_link'}}
{{render '@wrapper_link'}}
{{render '@skip_to_main_content_link'}}

<div class="interactive-collage__container">
  {{render '@pagination_link--previous'}}
  {{render '@pagination_link--next'}}
</div>

{{render '@button--button'}}
{{render '@button--submit'}}
